In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
train = pd.read_csv('C:/Users/Hp/Documents/VGG16titanic/train.csv')
test = pd.read_csv('C:/Users/Hp/Documents/VGG16titanic/test.csv')

In [9]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
train.shape

(891, 12)

In [11]:
train_test_data = [train, test] 

for dataset in train_test_data:
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [12]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [13]:
train['Title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Major         2
Mlle          2
Col           2
Capt          1
Mme           1
Don           1
Lady          1
Ms            1
Countess      1
Jonkheer      1
Sir           1
Name: Title, dtype: int64

In [14]:
test['Title'].value_counts()

Mr        240
Miss       78
Mrs        72
Master     21
Rev         2
Col         2
Dr          1
Dona        1
Ms          1
Name: Title, dtype: int64

In [15]:


title_mapping = {"Mr": 0, "Miss": 1, "Mrs": 2, 
                 "Master": 3, "Dr": 3, "Rev": 3, "Col": 3, "Major": 3, "Mlle": 3,"Countess": 3,
                 "Ms": 3, "Lady": 3, "Jonkheer": 3, "Don": 3, "Dona" : 3, "Mme": 3,"Capt": 3,"Sir": 3 }
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)

In [16]:
train.drop('Name', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)

In [17]:
sex_mapping = {"male": 0, "female": 1}
for dataset in train_test_data:
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)

In [18]:
train["Age"].fillna(train.groupby("Title")["Age"].transform("median"), inplace=True)
test["Age"].fillna(test.groupby("Title")["Age"].transform("median"), inplace=True)

In [19]:
train.groupby("Title")["Age"].transform("median")

0      30.0
1      35.0
2      21.0
3      35.0
4      30.0
5      30.0
6      30.0
7       9.0
8      35.0
9      35.0
10     21.0
11     21.0
12     30.0
13     30.0
14     21.0
15     35.0
16      9.0
17     30.0
18     35.0
19     35.0
20     30.0
21     30.0
22     21.0
23     30.0
24     21.0
25     35.0
26     30.0
27     30.0
28     21.0
29     30.0
       ...
861    30.0
862    35.0
863    21.0
864    30.0
865    35.0
866    21.0
867    30.0
868    30.0
869     9.0
870    30.0
871    35.0
872    30.0
873    30.0
874    35.0
875    21.0
876    30.0
877    30.0
878    30.0
879    35.0
880    35.0
881    30.0
882    21.0
883    30.0
884    30.0
885    35.0
886     9.0
887    21.0
888    21.0
889    30.0
890    30.0
Name: Age, Length: 891, dtype: float64

In [20]:
for dataset in train_test_data:
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0,
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 26), 'Age'] = 1,
    dataset.loc[(dataset['Age'] > 26) & (dataset['Age'] <= 36), 'Age'] = 2,
    dataset.loc[(dataset['Age'] > 36) & (dataset['Age'] <= 62), 'Age'] = 3,
    dataset.loc[ dataset['Age'] > 62, 'Age'] = 4

In [21]:
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')

In [22]:
embarked_mapping = {"S": 0, "C": 1, "Q": 2}
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].map(embarked_mapping)

In [23]:
train["Fare"].fillna(train.groupby("Pclass")["Fare"].transform("median"), inplace=True)
test["Fare"].fillna(test.groupby("Pclass")["Fare"].transform("median"), inplace=True)

In [24]:


for dataset in train_test_data:
    dataset.loc[ dataset['Fare'] <= 17, 'Fare'] = 0,
    dataset.loc[(dataset['Fare'] > 17) & (dataset['Fare'] <= 30), 'Fare'] = 1,
    dataset.loc[(dataset['Fare'] > 30) & (dataset['Fare'] <= 100), 'Fare'] = 2,
    dataset.loc[ dataset['Fare'] > 100, 'Fare'] = 3

In [25]:
train.Cabin.value_counts()

G6             4
C23 C25 C27    4
B96 B98        4
F2             3
C22 C26        3
D              3
E101           3
F33            3
B51 B53 B55    2
D36            2
C78            2
B77            2
C65            2
D20            2
E33            2
D35            2
E8             2
E44            2
C123           2
B49            2
C68            2
E67            2
D17            2
B18            2
C93            2
B5             2
D26            2
B35            2
C83            2
D33            2
              ..
B101           1
A26            1
A32            1
A24            1
D7             1
B38            1
D28            1
E68            1
B37            1
C128           1
E40            1
E46            1
D48            1
E31            1
E34            1
E49            1
A34            1
D6             1
C101           1
C85            1
E17            1
B42            1
A6             1
B41            1
E12            1
B102           1
A7             1
D21            1
C106           1
F G63          1
Name: Cabin, Length: 147, dtype: int64

In [26]:
for dataset in train_test_data:
    dataset['Cabin'] = dataset['Cabin'].str[:1]

In [27]:
cabin_mapping = {"A": 0, "B": 0.4, "C": 0.8, "D": 1.2, "E": 1.6, "F": 2, "G": 2.4, "T": 2.8}
for dataset in train_test_data:
    dataset['Cabin'] = dataset['Cabin'].map(cabin_mapping)

In [28]:
train["Cabin"].fillna(train.groupby("Pclass")["Cabin"].transform("median"), inplace=True)
test["Cabin"].fillna(test.groupby("Pclass")["Cabin"].transform("median"), inplace=True)

In [29]:
train["FamilySize"] = train["SibSp"] + train["Parch"] + 1
test["FamilySize"] = test["SibSp"] + test["Parch"] + 1

family_mapping = {1: 0, 2: 0.4, 3: 0.8, 4: 1.2, 5: 1.6, 6: 2, 7: 2.4, 8: 2.8, 9: 3.2, 10: 3.6, 11: 4}
for dataset in train_test_data:
    dataset['FamilySize'] = dataset['FamilySize'].map(family_mapping)

In [30]:
features_drop = ['Ticket', 'SibSp', 'Parch']
train = train.drop(features_drop, axis=1)
test = test.drop(features_drop, axis=1)
train = train.drop(['PassengerId'], axis=1)

In [31]:
train_data = train.drop('Survived', axis=1)
target = train['Survived']

In [32]:
train.head()

   Survived  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0         0       3    0  1.0   0.0    2.0         0      0         0.4
1         1       1    1  3.0   2.0    0.8         1      2         0.4
2         1       3    1  1.0   0.0    2.0         0      1         0.0
3         1       1    1  2.0   2.0    0.8         0      2         0.4
4         0       3    0  2.0   0.0    2.0         0      0         0.0

In [33]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [34]:
train.shape

(891, 9)

In [35]:
len(train)

891

In [36]:
len(train_data)

891

In [79]:
def split_vals(a,n):return a[:n], a[n:]
valid_count=50
n_trn= len(train)-valid_count
x_train, x_valid = split_vals(train_data, n_trn)
y_train, y_valid= split_vals(target, n_trn)

In [80]:
x_train.shape

(841, 8)

In [123]:
y_train.shape

(841,)

In [124]:
x_valid.shape

(50, 8)

In [125]:
y_valid.shape

(50,)

In [132]:

from sklearn.ensemble import RandomForestClassifier

m=RandomForestClassifier(n_estimators=100, min_samples_leaf=1, max_features=0.5,n_jobs=1)
m.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [143]:
m.score(x_train, y_train)

0.896551724137931

In [151]:
y_predict= m.predict(x_valid)
from sklearn.metrics import accuracy_score
accuracy_score(y_valid, y_predict)

0.9

In [152]:
test_data1 = test.drop("PassengerId", axis=1).copy()
prediction1 = m.predict(test_data1)
submission1 = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission1.to_csv('submissionRFFF.csv', index=False)

In [153]:
submission1 = pd.read_csv('submissionRFF.csv')
submission1.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [154]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

In [155]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

acc_log = round(logreg.score(x_train, y_train) * 100, 2)
acc_log

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

81.69

In [157]:
y_predict= logreg.predict(x_valid)
from sklearn.metrics import accuracy_score
accuracy_score(y_valid, y_predict)

0.84

In [158]:
test_data2 = test.drop("PassengerId", axis=1).copy()
prediction2 = logreg.predict(test_data2)
submission2 = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission2.to_csv('submissionlogreg.csv', index=False)

In [160]:

decision_tree = DecisionTreeClassifier()
decision_tree.fit(x_train, y_train)

acc_decision_tree = round(decision_tree.score(x_train, y_train) * 100, 2)
acc_decision_tree

89.77

In [161]:
y_predict1= decision_tree.predict(x_valid)
from sklearn.metrics import accuracy_score
accuracy_score(y_valid, y_predict1)

0.86

In [162]:
test_data = test.drop("PassengerId", axis=1).copy()
prediction = decision_tree.predict(test_data)
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission.to_csv('submissiondecisiontree.csv', index=False)

In [164]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(x_train, y_train)

random_forest.score(x_train, y_train)
acc_random_forest = round(random_forest.score(x_train, y_train) * 100, 2)
acc_random_forest

89.77

In [165]:
y_predict= m.predict(x_valid)
from sklearn.metrics import accuracy_score
accuracy_score(y_valid, y_predict)

0.9

In [168]:
test_data = test.drop("PassengerId", axis=1).copy()
prediction = decision_tree.predict(test_data)
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission.to_csv('submission12345.csv', index=False)