In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split
train = pd.read_csv('C:/Users/Hp/Documents/VGG16titanic/train.csv')
test = pd.read_csv('C:/Users/Hp/Documents/VGG16titanic/test.csv')

In [58]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [59]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [60]:
train_test_data = [train, test] 

for dataset in train_test_data:
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [61]:
train['Title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Mme           1
Jonkheer      1
Ms            1
Lady          1
Capt          1
Don           1
Sir           1
Name: Title, dtype: int64

In [62]:
test['Title'].value_counts()

Mr        240
Miss       78
Mrs        72
Master     21
Rev         2
Col         2
Ms          1
Dona        1
Dr          1
Name: Title, dtype: int64

In [63]:


title_mapping = {"Mr": 0, "Miss": 1, "Mrs": 2, 
                 "Master": 3, "Dr": 3, "Rev": 3, "Col": 3, "Major": 3, "Mlle": 3,"Countess": 3,
                 "Ms": 3, "Lady": 3, "Jonkheer": 3, "Don": 3, "Dona" : 3, "Mme": 3,"Capt": 3,"Sir": 3 }
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)

In [64]:
train.drop('Name', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)

In [65]:
sex_mapping = {"male": 0, "female": 1}
for dataset in train_test_data:
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)

In [66]:
train["Age"].fillna(train.groupby("Title")["Age"].transform("median"), inplace=True)
test["Age"].fillna(test.groupby("Title")["Age"].transform("median"), inplace=True)

In [67]:
train.groupby("Title")["Age"].transform("median")

0      30.0
1      35.0
2      21.0
3      35.0
4      30.0
5      30.0
6      30.0
7       9.0
8      35.0
9      35.0
10     21.0
11     21.0
12     30.0
13     30.0
14     21.0
15     35.0
16      9.0
17     30.0
18     35.0
19     35.0
20     30.0
21     30.0
22     21.0
23     30.0
24     21.0
25     35.0
26     30.0
27     30.0
28     21.0
29     30.0
       ...
861    30.0
862    35.0
863    21.0
864    30.0
865    35.0
866    21.0
867    30.0
868    30.0
869     9.0
870    30.0
871    35.0
872    30.0
873    30.0
874    35.0
875    21.0
876    30.0
877    30.0
878    30.0
879    35.0
880    35.0
881    30.0
882    21.0
883    30.0
884    30.0
885    35.0
886     9.0
887    21.0
888    21.0
889    30.0
890    30.0
Name: Age, Length: 891, dtype: float64

In [68]:
for dataset in train_test_data:
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0,
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 26), 'Age'] = 1,
    dataset.loc[(dataset['Age'] > 26) & (dataset['Age'] <= 36), 'Age'] = 2,
    dataset.loc[(dataset['Age'] > 36) & (dataset['Age'] <= 62), 'Age'] = 3,
    dataset.loc[ dataset['Age'] > 62, 'Age'] = 4

In [69]:
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')

In [70]:
embarked_mapping = {"S": 0, "C": 1, "Q": 2}
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].map(embarked_mapping)

In [71]:
train["Fare"].fillna(train.groupby("Pclass")["Fare"].transform("median"), inplace=True)
test["Fare"].fillna(test.groupby("Pclass")["Fare"].transform("median"), inplace=True)

In [72]:


for dataset in train_test_data:
    dataset.loc[ dataset['Fare'] <= 17, 'Fare'] = 0,
    dataset.loc[(dataset['Fare'] > 17) & (dataset['Fare'] <= 30), 'Fare'] = 1,
    dataset.loc[(dataset['Fare'] > 30) & (dataset['Fare'] <= 100), 'Fare'] = 2,
    dataset.loc[ dataset['Fare'] > 100, 'Fare'] = 3

In [73]:
train.Cabin.value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
F2             3
E101           3
D              3
F33            3
C22 C26        3
C78            2
D36            2
C52            2
C83            2
C68            2
C125           2
B18            2
D17            2
F4             2
B5             2
B51 B53 B55    2
C123           2
D35            2
E44            2
B49            2
D26            2
C126           2
C93            2
B77            2
E24            2
D33            2
B58 B60        2
              ..
E10            1
B102           1
D9             1
D48            1
C62 C64        1
C85            1
B80            1
C46            1
B82 B84        1
A16            1
C47            1
A6             1
C87            1
B4             1
C101           1
E34            1
F G63          1
D7             1
C45            1
C99            1
C54            1
C106           1
E40            1
A14            1
B19            1
C90            1
E68            1
C104           1
A31            1
B39            1
Name: Cabin, Length: 147, dtype: int64

In [74]:
for dataset in train_test_data:
    dataset['Cabin'] = dataset['Cabin'].str[:1]

In [75]:
cabin_mapping = {"A": 0, "B": 0.4, "C": 0.8, "D": 1.2, "E": 1.6, "F": 2, "G": 2.4, "T": 2.8}
for dataset in train_test_data:
    dataset['Cabin'] = dataset['Cabin'].map(cabin_mapping)

In [76]:
train["Cabin"].fillna(train.groupby("Pclass")["Cabin"].transform("median"), inplace=True)
test["Cabin"].fillna(test.groupby("Pclass")["Cabin"].transform("median"), inplace=True)

In [77]:
train["FamilySize"] = train["SibSp"] + train["Parch"] + 1
test["FamilySize"] = test["SibSp"] + test["Parch"] + 1

family_mapping = {1: 0, 2: 0.4, 3: 0.8, 4: 1.2, 5: 1.6, 6: 2, 7: 2.4, 8: 2.8, 9: 3.2, 10: 3.6, 11: 4}
for dataset in train_test_data:
    dataset['FamilySize'] = dataset['FamilySize'].map(family_mapping)

In [78]:
features_drop = ['Ticket', 'SibSp', 'Parch']
train = train.drop(features_drop, axis=1)
test = test.drop(features_drop, axis=1)
train = train.drop(['PassengerId'], axis=1)

In [79]:
train_data = train.drop('Survived', axis=1)
target = train['Survived']

In [80]:
train.head()

   Survived  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0         0       3    0  1.0   0.0    2.0         0      0         0.4
1         1       1    1  3.0   2.0    0.8         1      2         0.4
2         1       3    1  1.0   0.0    2.0         0      1         0.0
3         1       1    1  2.0   2.0    0.8         0      2         0.4
4         0       3    0  2.0   0.0    2.0         0      0         0.0

In [146]:
test.head()

   PassengerId  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0          892       3    0  2.0   0.0    2.0         2      0         0.0
1          893       3    1  3.0   0.0    2.0         0      2         0.4
2          894       2    0  3.0   0.0    2.0         2      0         0.0
3          895       3    0  2.0   0.0    2.0         0      0         0.0
4          896       3    1  1.0   0.0    2.0         0      2         0.8

In [150]:
test_data = test.drop('PassengerId', axis=1)

In [151]:

test_data.head()

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0  2.0   0.0    2.0         2      0         0.0
1       3    1  3.0   0.0    2.0         0      2         0.4
2       2    0  3.0   0.0    2.0         2      0         0.0
3       3    0  2.0   0.0    2.0         0      0         0.0
4       3    1  1.0   0.0    2.0         0      2         0.8

In [152]:
X_train, X_valid,y_train, y_valid=train_test_split(train,target,test_size=0.2)
print(X_train.shape, X_valid.shape,y_train.shape, y_valid.shape)

(712, 9) (179, 9) (712,) (179,)

In [153]:
from sklearn.ensemble import RandomForestClassifier

m=RandomForestClassifier(n_estimators=100, min_samples_leaf=1, max_features=0.5,n_jobs=1)
m.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [154]:
m.score(X_train, y_train)

1.0

In [155]:
y_predict= m.predict(X_valid)
from sklearn.metrics import accuracy_score
accuracy_score(y_valid, y_predict)

1.0

In [160]:

prediction = m.predict(test)
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission.to_csv('RFFF.csv', index=False)

In [161]:
submission = pd.read_csv('RFFF.csv')
submission.head()

   PassengerId  Survived
0          892         1
1          893         1
2          894         1
3          895         1
4          896         1

In [85]:
from sklearn.model_selection import KFold
from sklearn.svm import SVC

import numpy as np

In [107]:

from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [115]:
model= SVC()

score = cross_val_score(model, train_data, target, cv=k_fold, n_jobs=2, scoring='accuracy')
print(score)

[0.83333333 0.80898876 0.83146067 0.82022472 0.84269663 0.82022472
 0.84269663 0.85393258 0.83146067 0.86516854]

In [116]:
round(np.mean(score)*100,2)

83.5

In [117]:
model= SVC()
a=model.fit(train_data, target)
print(a)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [118]:
test_data = test.drop("PassengerId", axis=1).copy()
prediction = model.predict(test_data)
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission.to_csv('submission99.csv', index=False)

In [119]:
submission = pd.read_csv('submission99.csv')
submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1